* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;

}

@font-face {
    font-family: 'nav';
    src: url(fonts/Futura-Med.ttf);
}

@font-face {
    font-family: 'title';
    src: url(fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: 'subtitle';
    src: url(fonts/Futura-BooObl.ttf);
}

@font-face {
    font-family: 'footer';
    src: url(fonts/Futura-Boo.ttf);
}

@font-face {
    font-family: 'nav';
    src: url(fonts/Futura-Dem.ttf);
}

#main {
    width: 100% margin: 0 auto;
    display: block;
}

.main-visual {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    background-size:cover;
    position:relative;
*/
}

.logo {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

h2 {
    display: block margin:0 auto;
    font-family: subtitle;
    font-size: 45px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #ffff;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

nav li {
    list-style-type: none;
    float: left;
    margin-top: 10px;
    font-family: nav;
}

nav a {
    font-size: 30px;
    display: block;
    text-decoration: none;
    margin: 10px 15px 0px;
    color: #fff
}

nav a:hover {
    color: #3d5dd7;
    transition: 0.5s;
}

#intro {
    width: 100%;
    height: 980px;
    background: #ffff text-align: center;
}

h3 {
    color: #3d5dd7;
    margin: 30px auto;
    text-align: center;
    font-size: 60px;
    font-family: title;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

p {
    width: 400px;
    margin: 0 auto 20px;
}

.left {
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.intro-img img {
    width: 500px;
    object-fit: contain;
}

.right {
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.intro-button {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    width: 170px;
    height: 40px;
    font-size: 15pt;
    color: #ffffff;
    background-color: #3D5CDB;
    border-radius: 12px;
    line-height: 40px;
    font-weight: bold;
}

.intro-button:hover {
    box-shadow: 0px 0px 10px #ccc;
}

.intro-button02 {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    width: 170px;
    height: 40px;
    font-size: 15pt;
    color: #ffffff;
    background: #ffbf00;
    border-radius: 12px;
    line-height: 40px;
    font-weight: bold;
}

.intro-button02:hover {
    box-shadow: 0px 0px 10px #ccc;
}

#courses {
    width: 100%;
    height: 942px;
    position: relative;
}

.content-area {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#hoge {
    position: absolute;
    z-index: -1;
    background-color: #bad5f5;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    top: 0;
    left: 0;
}

.content-box {
    height: 280px;
    background-color: #ffffff;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.course-img {
    margin: 0 auto;
    height: 200px;
    vertical-align: middle;
    margin-top: 20px;
}

.content-box a {
    margin: 10px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    color: #ffffff;

    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
}

.content-box h4 {
    text-align: center;
}

#images {
    width: 100%;
    height: 470px;
}

.slick {
    max-width: 1200px;
    margin: 0 auto;
}

#access {
    width: 100%;
    height: 640px;
    text-align: center;

}

footer {
    text-align: center;
    color: #3D5CDB;
    font-family: footer;
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*すまーとほん*/
@media screen and (max-width: 479px) {

    #main {
        overflow: hidden;
    }

    h2 {
        font-size: 15px;
        top: 60%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: #ffff;
    }

    nav {
        display: none;
    }

    nav li {
        display: none;
    }

    nav a {
        display: none;
    }

    nav a:hover {
        display: none;
    }

    h3 {
        font-size: 200%;
        padding-bottom: 20px;
    }
    
    #intro {
    height: 1300px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        font-size: 13px;
    }

    .left {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }
    #leftbottom{
        order:2;
    }
   #rightbottom{
        order:1;
    }

    .intro-img img {
        width: 100%;
        object-fit: contain;

    }

    .right {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }

    p {
        width: 90%;
        margin: 0 auto;
    }
    #courses{
        height:1200px;
    }
    .content-box{
    width: 100px;
    height: 180px;
    margin-top: 10px;
    }
    .course-img{
    width: 90px;
    height: 90px;
    position: relative;
    }
 
    .course-img img{
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    }
.content-box a {
    width: 100px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 10px;
}
#images {
    height: 300px;
}
#access{
    height: 450px;
    }
    
.map{
    position: relative;
    width: 100%;
    padding-top: 80%; 
    }
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

}
